<div class="flex flex-col p-6 space-y-3 justify-center">
  <h1 class="text-3xl font-semibold text-gray-700">이메일을 알려주세요</h1>
  <h3 class="text-lg font-base text-gray-500">입력한 이메일 주소로 파일이 전송됩니다</h3>
  <div class="h-1"></div>
  <div class="input-wrapper" id="email-input-wrapper">
    <label for="" class="input-label">이메일 주소</label>
    <input id="email-input" type="email" name="email" placeholder="example@gmail.com" style="font-size: 1.2rem;">
  </div>
  <div class="h-1"></div>
  <div class="input-wrapper" id="code-input-wrapper">
    <label for="" class="input-label">코드</label>
    <input id="code-input" type="text" name="code" placeholder="6자리 인증 코드" style="font-size: 1.2rem;">
  </div>
</div>
<div class="flex-1"></div>
<div class="w-full flex flex-row items-center justify-center text-base text-gray-500 font-light mb-4 underline" id="retry">
  재전송하기
</div>
<div 
  id="action-button"
  class="mb-6 mx-6 p-4 bg-primary font-semibold flex flex-col items-center justify-center text-white rounded-xl text-lg bg-black">
  인증번호 전송
</div>
<script>
  function handleAjaxError(xhr, status) {
    console.error(status)
    console.error(xhr)
    alert("오류! 콘솔을 확인해주세요")
  }
  function validateEmail($email) {
   var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
   return emailReg.test( $email );
  }
  function sendEmail() {
    const email = $("#email-input").val()
    $('#code-input-wrapper').show(400);
    $('#retry').show(400);
    $.ajax({
      url: "/api/email_authentication/request_email_authentication",
      method: "POST",
      dataType: "json",
      data: {
        email: email
      }
    }).done(function(json) {
      $("#action-button").text("인증번호 확인")
      $("#action-button").off('click').on('click', function() {
        const email_authentication_id = json.email_authentication_id
        const code = $("#code-input").val()
        $.ajax({
          url: "/api/email_authentication/verify_email_authentication",
          method: "POST",
          dataType: "json",
          data: {
            email_authentication_id,
            code
          }
        }).done(function(json2) {
          console.log(json2)
        }).fail(handleAjaxError)
      })
    }).fail(handleAjaxError)
  }

  $(document).ready(function() {
    $('#code-input-wrapper').hide();
    $('#retry').hide();
    $("#action-button").on('click', sendEmail)
    $("#retry").on('click', sendEmail)
  })
</script>
