<div class="p-6">
  <i class="fa-solid fa-chevron-left"></i>
</div>
<div class="flex flex-col p-6 space-y-3 justify-center">
  <h1 class="text-3xl font-semibold text-gray-700 mb-2">결제 방법을 선택해주세요</h1>
  <div class="flex flex-row items-center justify-start space-x-3 p-2">
    <i class="fa-solid fa-credit-card text-gray-500"></i>
    <div class="text-gray-700 text-lg">신용카드</div>
  </div>
  <div class="flex flex-row items-center justify-start space-x-3 p-2">
    <i class="fa-solid fa-money-check-dollar text-gray-500"></i>
    <div class="text-gray-700 text-lg">무통장입금</div>
  </div>
  <div class="flex flex-row items-center justify-start space-x-3 p-2">
    <i class="fa-brands fa-bitcoin text-gray-500"></i>
    <div class="text-gray-700 text-lg">비트코인</div>
  </div>
</div>
<div class="flex-1"></div>
<button id="payment-button" class="tracking-wide m-6 p-4 bg-primary font-semibold flex flex-col items-center justify-center text-white rounded-xl text-lg bg-black">
  12,600원 결제하기
</button>
<script>
  var clientKey = 'test_ck_Kma60RZblrq9JQBeL2ErwzYWBn14'
  var tossPayments = TossPayments(clientKey)

  var button = document.getElementById('payment-button') // 결제하기 버튼

  button.addEventListener('click', function () {
    tossPayments.requestPayment('카드', {
      amount: 500,
      orderId: 'Ks-b-W9t77R8VXag1p9Az',
      orderName: '토스 티셔츠 외 2건',
      customerName: '박토스',
      successUrl: 'http://localhost:8080/success',
      failUrl: 'http://localhost:8080/fail',
    })
  })
</script>
