<div class="p-6">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            #
          </th>
          <th scope="col" class="px-6 py-3">
            Product name
          </th>
          <th scope="col" class="px-6 py-3">
            Price
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% Product.all.each do |product| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-3 py-2 flex flex-row items-center">
              <% if product.thumbnail.exists? %>
                <img src="<%= product.thumbnail %>" alt="" style="width: 4rem; height: 4rem; object-fit: cover; border-radius: 0.5rem;">
              <% else %>
              <% end %>
            </td>
            <th scope="row" class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
              <a href="/products/<%= product.id %>">
                <%= product.name %>
              </a>
            </th>
            <td class="px-3 py-2">
              <%= product.price_tag %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
